/*-----------------------------------------------------------HEADER--------------------------------------------------------------------*/

header {
    display: block; /* Для старых браузеров */
    height: 405px; /* Высота шапки */
    position: relative;
    z-index: 2;
    background: url(../images/header-bg.png) repeat-x center bottom, linear-gradient(to bottom, #00B7DD, #FFFFFF);
    text-align: center;
}

header img {
    position: relative;
    top: 40px;
}


/*-----------------------------------------------------------FOOTER--------------------------------------------------------------------*/

footer {
    display: block; /* Для старых браузеров */
    position: relative;
/*    z-index: 3;*/
    top: -40px;
    background: url(../images/grass.png) repeat-x center top;
}

.footer-bg {
    position: relative;
    top: 40px;
    background: #e2ed9c;
}

.copyright {
    margin: auto;
    width: 760px;
    padding: 20px 5px 5px 5px;
}

#lion {
    position: absolute;
    left: 50%; /* По центру */
    margin-left: -370px;  /*Сдвигаем влево */
    top: -75px;
}


/*-----------------------------------------------------------CONTENT--------------------------------------------------------------------*/

/*1.Decor-------------------------------------------------------------------------------------------------------------------------------*/

.content-bg {
    position: relative;
    top: -2px;
    background: linear-gradient(to bottom, #f9db94,#f9f2e3);
}

.content-border {
    margin: auto;
    padding: 2px 0 0 0;
    width: 826px;
    
    background-image: linear-gradient(45deg, transparent 50.5%, #8A5241 50.5%), linear-gradient(135deg, transparent 50.5%, #8A5241 50.5%), linear-gradient(-45deg, transparent 50.5%, #8A5241 50.5%), linear-gradient(-135deg, transparent 50.5%, #8A5241 50.5%);
    background-repeat: repeat-y, repeat-y, repeat-y, repeat-y;
    background-size: 30px, 30px, 30px, 30px;
    background-position: left, left, right, right;
}

.content {
    margin: auto;
    width: 760px;
    
    background-image:linear-gradient(to right, transparent 20px, white 20px,white 800px, transparent 770px), linear-gradient(45deg, transparent 50.5%, white 50.5%), linear-gradient(135deg, transparent 50.5%, white 50.5%), linear-gradient(-45deg, transparent 50.5%, white 50.5%), linear-gradient(-135deg, transparent 50.5%, white 50.5%);
    background-repeat: repeat, repeat-y, repeat-y, repeat-y, repeat-y;
    background-size: auto, 30px, 30px, 30px, 30px;
    background-position: center, left, left, right, right;
    
    padding: 20px 30px 100px 30px;
}

/*2.Filling-------------------------------------------------------------------------------------------------------------------------------*/

body {
    text-align: justify;
}

section {
    margin: 30px 10px;
}

h1 {
    font-size: 140%;
}

h2 {
    font-size: 120%;
}

p {
    margin: 10px 0px;
}

article {
    margin: 20px 0px;
}

.leftColumn {
    margin: 20px 280px 20px 10px;
}

figure {
    text-align: center;
    font-style: italic;
}

/*3.Warning-------------------------------------------------------------------------------------------------------------------------------*/

#voodoohead {
    float: left;
    padding: 0px 15px 10px 0px;
}

/*-----------------------------------------------------------NAVIGATION--------------------------------------------------------------------*/

.rightColumn {
    width: 250px;
    margin: 20px 10px;
    float: right;
}

.menu {
    padding: 0 25px;
    font-weight: bold;
    line-height: 160%;
    list-style-type: none;
}

.current {
    width: 210px;
    margin-left: -15px;
    padding-left: 15px;
    list-style-position: inside;
    list-style-image: url(../images/marker.png);
    background: linear-gradient(to right, #f9db94,#f9f2e3);
}

aside {
    width: 190px;
    margin: 30px auto 10px auto;
    padding: 10px;
    background-color: #F2EFE6;
    box-shadow: 5px 15px 3px #959595;
}